.serif {
    font-family: "Source Serif 4", serif;
}
.monospace {
    font-family: "Cutive Mono", monospace;
}
.sans-serif {
    font-family: "PT Sans Narrow", sans-serif;
}
.shadow-custom {
    box-shadow: 2px 2px 5px #005;
}
.login-header {
    position: relative;
}
.login-header .icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0.3rem;
    left: -2.5rem;
    background-color: #111;
    border: 3px solid #fff;
    border-radius: 100%;
    outline: 3px solid #111;
}
.login-content {
    background-color: #555;
    color: #fff;
    padding: 1rem;
}
.login-content input {
    width: 100%;
    display: inline-block;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.login-content .password {
    margin-top: 10px;
}

.login-footer {
    text-align: end;
}
button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

@media (max-width: 540px) {
    .login-header .icon {
        top: -2rem;
        left: 45%;
        outline: none;
    }
}